body{
	padding:0;
	margin:0;
	background-image:url('../../image/acceuil2.jpg');
	/*margin-top:0%;
	margin-right:40%;
	width:100%;*/
	background-size: 40%;
	background-repeat: no-repeat;
	background-position:right;
	background-attachment:fixed;
	opacity:1;"
}

div .container{

	width:100%;

}

div .jumbotron{
	margin:0;
	padding:0;
	height:100%;
	background-color:transparent;
	opacity:0.8;
	width:100%;
}

 h1 {

	width:80%;
	text-shadow:14px 0px 16px #bbb;

}

p {

	width:80%;
	right:30%;
	top:17%;
}

div .presentation{

	margin-top:10%;
}

.presentation > a{

	float:left;
	
}