body{

	background-image:url('../../image/login2.jpg') ; 
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;
	background-size: 100%;

}

.panel{

	margin-top:30%;
}

#formulaire{

	background-color: transparent;
	/*border-color:transparent;*/

}

img {
	margin:2px;
}