body{

	/*padding: 0;
	margin:0;*/
	/*width:100%;
	height:100%;*/
	background-image:url('../../image/login2.jpg') ; 
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;
	background-size: 100%;

	/*height: 620px ;*/
	/*height:1500px;*/
	
	/*width: 1500px;*/


}

.container{

	margin-left:30%;
}

.panel{

	width:700px;
}

h4 .btn{
	margin-top:-4%;
	float:right;
	width:16%;


}