body{

	/*padding: 0;
	margin:0;*/
	/*width:100%;
	height:100%;*/
	background-image:url('../../image/login2.jpg') ; 
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;
	background-size: 100%;
}

#pagination{

	margin-left:30%;
}

.container{

	margin-left:30%;
}

.panel{

	width:700px;
}


.btn{
	/*margin-top:-4%;*/
	float:right;
	width:16%;


}