body{
	padding-top:5%;
	margin:0;
	/*width:100%;
	height:100%;*/
	background-image:url('../../image/mega-login6.jpg') ; 
	/*background-image:url('../../image/login3.jpg') ; */
	background-repeat: no-repeat;
	/*background-position:center;*/
	background-attachment: fixed;
	background-size: 100%;
	/*height: 620px ;*/
	/*height:1500px;*/
	
	/*width: 1500px;*/


}

div .col-md-6 {
margin-top:12%;
/*margin: 0;*/
/*padding:0;*/
clear:both;

}

div #principal{
	width:100%;
	clear: both;


}
div #locat{

	margin-right:4%;
	/*float:left;*/
	float:right;


}

div .panel{
	/*width:70%;*/
	width:80%;
	/*height:850px;*/
	height:500px;
	float:right;
	
}

div #entete{

	/*background-color: #bbb*/
	/*background-color: transparent;*/
	
	/*background-color:none;*/
	/*border-color: #ccc;*/

}


#formulaire{
	/*background-color: #ccc;*/
	background-color: transparent;
	border-color: transparent

	/*box-shadow: 20px 0px 50px #eee;*/

}

#formulaire label{

	font-size: 15px;
	color:#fff;

}
/*img{
	margin-top:13%;
	margin-right:10%;
	width:15%;
	float:right;

	position:relative;
}*/