@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
.btn-orientation{
  
}
.amis{
  color: green !important;
 font-weight: bold;
}
.icons{
  color: blue !important;
 font-weight: bold;
}
.btn-ori{
  margin-left: 895px;
}
.btn-en{
  margin-left: 830px;
}
.entete{
  margin: 10px;

}

#list-user{
  margin-top: 25px;
  color: #fff;
  text-align: center;
  background-color: #110EF5;
  border: 2px solid #1C9499;
  border-radius: 6px;
  border-width: 1px;
  margin-left: 385px;
  width:380px;
}

.nav{
  font-family: Arial;
  font-size: 15px;
}

#locat{
 position: center;
 margin-top: 3px;

}

.panel-position{
  margin-top: 1px;
}

#con{
  margin-top: 25px;
  color: #1C9499;
  text-align: center;
  background-color: #CDCDCD;
  border: 2px solid #1C9499;
  border-radius: 6px;
  border-width: 1px;
  margin-left: 285px;
  width:570px;

}


#nbre-ami{
  color: #3b5998 ;
}
#loader {
  color: red;
 font-weight: bold;
 margin-left: 250px;
 display: none;
 
}
#searchbox{
  margin-top: 10px;
  width: 250px;
}
.display-box-user:hover {
   
   background-color: #3b5998;
   color: #fff;
   cursor: pointer;
}
.display-box-user:hover a{
   
   text-decoration: none;
   color: #fff;
}
.display-box-user a{
   
   text-decoration: none;
   color: #333;
   display: block;
}
#display-result{
  width:250px;
  
  background-color: #fff;
  color: #000;
  border-left: 1px solid #dedede;
  border-right:  1px solid #dedede;
  border-bottom: 1px solid #dedede;
  position: fixed;
  display: none;
}
.display-box-user{
   padding: 4px;
   border-top: 1px solid #dedede;
   height: 60px;
   font-size: 13px;
   background-color: #fff;
   position: relative;
}

   
}

.not_seen{
 background-color: #f2f2f2;
}

li.have_notifs > a{
 color: red !important;
 font-weight: bold;
}
li.have_sms > a{
 color: red !important;
 font-weight: bold;
}
.sms{
 color: yellow !important;
 font-weight: bold;

}
.avatar-md{
 border-radius: 100%
 width:10%;
 height: 10%;
}
.avatar-xs{
 border-radius: 100%
 width:25%;
 height: 25%;
}

body{
	 padding-top: 70px;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  background-color:red;
  color:white;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

/****** CSS Partage de code sources ****/
#main-content-share-code {
  background-color: #000;
  padding-top: 1em;
  padding-left: 8px;
  position: relative;
}
#code{
  font-family:  "Source Code Pro", sans-serif;
  width: 100%; 
  min-height: 400px;
  border: none;
  outline: 0;
  background-color: #000;
  color: #c5c5c5;
  resize: none;
  font-size: 14px;
  overflow: hidden;
}
.nav-code{
  position: absolute;
  top: 10px;
  right: 10px;
} 
 
/***** fin CSS Partage de code sources 

/***** stylisation liste ulisateur *****/
.users{
  margin-top: 3em;
}
.user-block{
  text-align: center;
}
.user-block .avatar{
  margin: auto;
}

/***** stylisation liste ulisateur *****/

.status-post-submit{
  border-top: 1px solid #e9e9e9;
  padding: 0.5em 1em;
  overflow: hidden;
  margin-bottom: 0px;
}
.status-post{
  border: 2px solid #e3e3e3;
  background-color: #fff;
}
.status-post textarea{
  border: none;
  
}
.status-post textarea:focus{
  box-shadow: none;
  
}
.status-post-submit .btn{
  float: right;
}

.status-media{
  border: 2px solid #1C9499;
  
  background-color:#fff;
  padding:1em;
  margin-bottom:2em;
  word-break: break-all;
}