@import url('title-pub.css');

body{
	padding: 0;
	margin:0;
	/*width:100%;
	height:100%;*/
	background-image:url('../../image/login2.jpg') ; 
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;
	background-size: 100%;

	/*height: 620px ;*/
	/*height:1500px;*/
	
	/*width: 1500px;*/


}

div #content-primary{
	
	float:left;
	width:100%;
	
	
}
div .status-post{

	text-align:center;

	position:fixed;
	margin-top:3%;
	margin-left:13.5%;
	margin-bottom:10%;
	width:70%;
	height:10%;
	opacity:0.8;

	border-style:solid;
	border-top-style: none;
	border-width:5px;
	border-radius:15px;
	border-color:#20adff;
}

div .col-md-6{
	
	position:fixed;
	margin-top:13.5%;
	width:30%;
	margin-left:10%;


}

.content-secondary{
	position:fixed;
	margin-top:-1.1%;
	margin-left:39.9%;
	width:50%;
	height:800px;
	border:1px solid #20adff;
	border-width: 2px;
	/*border-top-left-radius: 10px;
	border-top-right-radius: 10px;*/
	border-bottom-style: none;

	overflow:scroll;
}

div .form-group{
	
	text-align: center;
	height:50%;
	background-color:#20adff;
	border-radius: 8px;
}

form{


}