body{
	padding: 0;
	margin:0;
	/*width:100%;
	height:100%;*/
	background-image:url('../../image/profile1.jpg') ; 
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;
	background-size: 100%;

	/*height: 620px ;*/
	/*height:1500px;*/
	
	/*width: 1500px;*/


}

#icone{
	/*margin-left:38%;*/
	margin-top:3%;
	margin-bottom:0;
	margin-bottom: 5%;
	/*opacity:0.4;*/
    padding:0;
	background-color:none;
/*
	border:1px solid blue;;*/

}


#icone img{
	opacity:0.6;
	height:150px;
	width:500px;
	padding:0;
	margin:0;
}

 .panelimg{
 	height:150px;
	width:500px;
	padding:0;
	margin:0;
}

div .main-content{
	

}

div .col-md-6 {
/*margin-top:1%;*/
margin-top:5%;
margin-left:30%;
/*margin-left:-35%;*/

}

#formulaire{
 opacity:0.8;
 width:500px;
 height:760px;

background-color: transparent;
border-color: transparent;
/*box-shadow: 20px 0px 50px #ccc;*/
	
}

form .form-group{

	height:70px;
}

form label{
	font-size: 15px;
	color:#FACC2E;
}
div #entete{

	background-color:transparent;
	/*background-color:none;*/
	border-color: transparent;

}
